.btn1 button{
    height:2.5rem;
    width:8rem;
    background-color: #f5f5f5;
    border: 2px solid #8dc63f;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
}
.btn1 button:hover{
    background-color: #8dc63f;
}