<mat-toolbar class="mat-elevation-z3" *ngIf="doctor.token">
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
        <mat-icon>menu</mat-icon>
    </button>
    <img class="logo" src="/assets/download (1).png" alt="">
</mat-toolbar>
<mat-sidenav-container *ngIf="doctor.token">
    <mat-sidenav opened mode="side" [style.width]="sideNavWidth()">
        <app-doctor-header [collapsed]="collapsed()"></app-doctor-header>
    </mat-sidenav>
    <mat-sidenav-content class="content" [style.margin-left]="sideNavWidth()">

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="!doctor.token">
    <router-outlet></router-outlet>
</div>