<div class="sidenav-container">
  <img [width]="profilePicSize()" [height]="profilePicSize()" src="/assets/269.jpg" alt="">
  <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
      <h2>Your Channel</h2>
  <p>Jhon wick</p>
  </div>
  </div>
  <mat-nav-list>
      <a class="menu-item"
       mat-list-item *ngFor="let item of menuItems()" [routerLink]="item.route" routerLinkActive="selected-menu-item" #rla="routerLinkActive" [activated]="rla.isActive">
          <mat-icon  matListItemIcon>{{item.icon}}</mat-icon>
          <span matListItemTitle *ngIf="!sideNavCollapsed()" >{{item.label}}</span>
      </a>
      <a mat-list-item (click)="logout()" >
        <mat-icon matListItemIcon>logout</mat-icon>
        <span matListItemTitle>Logout</span>
      </a>
  </mat-nav-list> 


<!-- <div class="container-fluid bg-info shadow">
    <div class="row">
        <div class="top"></div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a [routerLink]="['/doctor/home']" class="navbar-brand col-md-7" ><img src="/assets/download (1).png" alt=""></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse col-md-5" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/doctor/list-patients']">Patients</a>
                  </li>
                  <li class="nav-item me-4" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/doctor/add-slot']">Appointment</a>
                  </li>

                  <li class="nav-item ms-2">
                <a class="nav-link" *ngIf="!doctor.token" [routerLink]="['/doctor/login']" >Login</a>
                <a class="nav-link" *ngIf="doctor.token" (click)="logout()">Logout</a>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form> 
              </div>
          </nav>
    </div>
    </div> -->