 <!-- footer section start -->
 <section class="footer bg-light mt-5">
    <div class="box-container">
        <div class="box">
            <h3>quick links</h3>
            <a href=""><i class="fas chevron-right"></i>home</a>
            <a href=""><i class="fas chevron-right"></i>service</a>
            <a href=""><i class="fas chevron-right"></i>about</a>
            <a href=""><i class="fas chevron-right"></i>doctors</a>
            <a href=""><i class="fas chevron-right"></i>book</a>
            <a href=""><i class="fas chevron-right"></i>review</a>
            <a href=""><i class="fas chevron-right"></i>blogs</a>
        </div>
        <div class="box">
            <h3>our services</h3>
            <a href=""><i class="fas chevron-right"></i>dental care</a>
            <a href=""><i class="fas chevron-right"></i>massage therapy</a>
            <a href=""><i class="fas chevron-right"></i>cardiology</a>
            <a href=""><i class="fas chevron-right"></i>diagnosis</a>
            <a href=""><i class="fas chevron-right"></i>ambulance service</a>
        </div>
        <div class="box">
            <h3>contact info</h3>
            <a href=""><i class="fas fa-phone"></i>+123-654-7890</a>
            <a href=""><i class="fas fa-phone"></i>+098-745-6321</a>
            <a href=""><i class="fas fa-envelope"></i>medtech@gmail.com</a>
            <a href=""><i class="fas fa-envelope"></i>calicut , india - 048102</a>
        </div>
        <div class="box">
            <h3>follow us</h3>
            <a href=""><i class="fas fa-facebook"></i>facebook</a>
            <a href=""><i class="fas fa-twitter"></i>twitter</a>
            <a href=""><i class="fas fa-instagram"></i>instagram</a>
            <a href=""><i class="fas fa-linkedin"></i>linkedIn</a>
            <a href=""><i class="fas fa-pinterest"></i>pinterest</a>
        </div>
    </div>
    <div class="credit">created by <span>vipin m</span> | all rights reserved</div>
</section>
<!-- footer section end -->