.login-form{
    display: flex;
    margin-top: 25px;
    height: auto;
    width: 100%;
    justify-content: center;
}
.mat-card{
    height: auto;
}
tr>td>a{
  margin-top: 15px;
}
.create-account{
  text-decoration: none;
  color:#523f3f87;
}
