<div class="forget-password">
    <mat-card>
        <div class="col-md-12 col-lg-6 col-sm-12 mt-3 col-xl-6">
            <app-title text="Forget Password"></app-title>
        </div>
       <mat-card-content>
        <form [formGroup]="emailForm" (ngSubmit)="submit()">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Your security is our priority . To reset your password , please enter your exact email provide here we will send for reset link in your providing email address..!</p>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-12 text-center mt-4"><span class="f-bold">Email:</span><text-input type="email" label="Email" [showErrorWhen]="isSubmitted" [control]="this.fc['email']"></text-input></div>
                        
                       
                    </div>
                    <div class="col-md-12 text-center">
                        <default-button type="submit" text="send"></default-button> 
                    </div>
                </div>
            </div>
        </form>
       </mat-card-content>
    </mat-card>
</div>