    <!--about section start-->
    <section class="about" id="about">
        <h1 class="heading" data-aos="zoom-in"><span>about</span>us</h1>
        <div class="row">
            <div class="image">
                <img data-aos="slide-down" src="assets/doctor_consultation_03.jpg" alt="">
            </div>
            <div class="content" data-aos="zoom-out-right">
                <h3>we take care of your healthy</h3>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                <a href="" class="btn">learn more<span class="fas fa-chevron-right"></span></a>
            </div>
        </div>
    </section>
    <!--about section end-->