<mat-card>
   <div class="p-4 text-center"> <app-title text="LIST PATIENTS"></app-title></div>
<mat-card-header>
    <mat-form-field>
        <input matInput placeholder="Search here...." (keyup)="filterFun($event)" >
    </mat-form-field>
</mat-card-header>
<mat-card-content>
    <div class="table-responsive">
        
<table mat-table matSort [dataSource]="dataSource" [trackBy]="trackByFun"  class="mat-elevation-z8">

    <ng-container matColumnDef="name">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let element">{{element.phone}}</td>
    </ng-container>

    <ng-container matColumnDef="address">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element">{{element.address}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
            <default-button text="block" *ngIf="!element.isBlocked" (onClick)="toggleBlockStatus(element.id,element.isBlocked)"></default-button>
            <default-button text="unblock" bgColor="red" *ngIf="element.isBlocked"  (onClick)="toggleBlockStatus(element.id,element.isBlocked)"></default-button>
            <default-button text="update" (onClick)="update(element.id)"></default-button> 
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns:displayedColumns">
    </tr>
</table>
    </div>
    <mat-paginator [pageSizeOptions]="[5,10,15,20]" showFirstLastButtons aria-label="select page of periodic elements "></mat-paginator>
</mat-card-content>
</mat-card>