<div class="add-doctor">
  <mat-card>
    <mat-card-header>
      <app-title text="Add Doctor"></app-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="addDoctor" (ngSubmit)="submit()">
        <table>
          <tr>
            <td>
              <text-input
              label="Full Name"
              ></text-input>
            </td>
            <td>
                <text-input
                label="Email"
                ></text-input>
            </td>
            <td>
                <text-input
                label="Phone Number"
                ></text-input>
            </td>
          </tr>
          <tr>
            <td>
              <text-input
              label="Full Name"
              ></text-input>
            </td>
            <td>
                <text-input
                label="Email"
                ></text-input>
            </td>
            <td>
                <text-input
                label="Phone Number"
                ></text-input>
            </td>
          </tr>
          <tr>
            <td>
              <text-input
              label="Full Name"
              ></text-input>
            </td>
            <td>
                <text-input
                label="Email"
                ></text-input>
            </td>
            <td>
                <text-input
                label="Phone Number"
                ></text-input>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
  </mat-card>
</div>
