<div class="login-form">
    <mat-card>
     <div class="col-md-12 mt-3 mx-auto">
         <app-title text="Reset password"></app-title>
     </div>
     <mat-card-content>
       <form class="p-3" [formGroup]="resetForm" (ngSubmit)="submit()" > 
         <table>
             <tr>
                 <td> <text-input
                     label="Password" type="password" [control]="this.fc['password']" [showErrorWhen]="isSubmitted"
                     > 
                     </text-input>
                 </td>
             </tr>
             <tr>
                 <td><text-input
                     label="Password" type="password" [control]="this.fc['cpassword']" [showErrorWhen]="isSubmitted"
                     ></text-input></td>
             </tr>
             <tr>
                 <td>
                     <default-button text="Reset"></default-button>
                 </td> 
             </tr>
            </table>
     </form>
     
     </mat-card-content>
    </mat-card>
 </div>
 
 
 
 