    <!--home section starts-->
    <section class="home" id="home" data-aos="fade-left">
        <div class="image">
            <img data-aos="zoom-in" src="/assets/fun-3d-cartoon-illustration-indian-doctor.jpg" alt="">
        </div>
        <div class="content">
            <h3 data-aos="fade-down">stay safe, stay healthy</h3>
            <p data-aos="fade-left">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            <a href="#" data-aos="fade-up"  class="btn" data-aos="fade-left">contact us<span class="fas fa-chevron-right"></span></a>
        </div>
    </section>
    <!--home section ends-->

       <!--icon section starts-->
       <section class="icons-container">
        <div class="icons" data-aos="fade-down-right">
            <i class="fas fa-user-md"></i>
            <h3>140+</h3>
            <p>doctors at work</p>
        </div>
        <div class="icons" data-aos="fade-down-right">
            <i class="fas fa-users"></i>
            <h3>1440+</h3>
            <p>satisfied patients</p>
        </div>
        <div class="icons" data-aos="fade-down-right">
            <i class="fas fa-procedures"></i>
            <h3>500+</h3>
            <p>bed faculties</p>
        </div>
        <div class="icons" data-aos="fade-down-right">
            <i class="fas fa-hospital"></i>
            <h3>80+</h3>
            <p>available</p>
        </div>
    </section>
    <!--icon section end-->
        <!--blog section start-->
        <section class="blogs" id="blogs">
            <h1 class="heading" data-aos="zoom-out-right">our <span>blogs</span></h1>
            <div class="box-container">
                <div class="box" data-aos="zoom-in-down">
                    <div class="image">
                        <img src="assets/269.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="icon">
                            <a href=""><i class="fas fa-calender"></i>1st may, 2021</a>
                            <a href=""><i class="fas fa-user">b admin</i></a>
                        </div>
                        <h3>blog title goes here</h3>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                        <a href="" class="btn">learn more<span class="fas fa-chevron-right"></span></a>
                    </div>
                </div>
                <div class="box" data-aos="zoom-in-down">
                    <div class="image">
                        <img src="assets/269.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="icon">
                            <a href=""><i class="fas fa-calender"></i>1st may, 2021</a>
                            <a href=""><i class="fas fa-user">b admin</i></a>
                        </div>
                        <h3>blog title goes here</h3>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                        <a href="" class="btn">learn more<span class="fas fa-chevron-right"></span></a>
                    </div>
                </div>
                <div class="box" data-aos="zoom-in-down">
                    <div class="image">
                        <img src="assets/269.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="icon">
                            <a href=""><i class="fas fa-calender"></i>1st may, 2021</a>
                            <a href=""><i class="fas fa-user">b admin</i></a>
                        </div>
                        <h3>blog title goes here</h3>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                        <a href="" class="btn">learn more<span class="fas fa-chevron-right"></span></a>
                    </div>
                </div>
            </div>
        </section>
        <!--blog section end-->
    

        <!-- doctors section starts -->
        <section class="doctors" id="doctors">
            <h1 class="heading" data-aos="zoom-out-right">
                our <span>doctors</span>
            </h1>
            <div class="box-container">
                <div class="box" data-aos="zoom-in-down">
                    <img src="assets/portrait-female-working-nurse.jpg" alt="">
                    <h3>jhone doe</h3>
                    <span>expert doctor</span>
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="" class="fab fa-twitter"></a>
                        <a href="" class="fab fa-instagram"></a>
                        <a href="" class="fab fa-linkedin"></a>
                    </div>
                </div>
                <div class="box" data-aos="zoom-in-down">
                    <img src="assets/portrait-female-working-nurse.jpg" alt="">
                    <h3>jhone doe</h3>
                    <span>expert doctor</span>
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="" class="fab fa-twitter"></a>
                        <a href="" class="fab fa-instagram"></a>
                        <a href="" class="fab fa-linkedin"></a>
                    </div>
                </div>
                <div class="box" data-aos="zoom-in-down">
                    <img src="assets/portrait-female-working-nurse.jpg" alt="">
                    <h3>jhone doe</h3>
                    <span>expert doctor</span>
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="" class="fab fa-twitter"></a>
                        <a href="" class="fab fa-instagram"></a>
                        <a href="" class="fab fa-linkedin"></a>
                    </div>
                </div>
                <div class="box" data-aos="zoom-in-down">
                    <img src="assets/portrait-female-working-nurse.jpg" alt="">
                    <h3>jhone doe</h3>
                    <span>expert doctor</span>
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="" class="fab fa-twitter"></a>
                        <a href="" class="fab fa-instagram"></a>
                        <a href="" class="fab fa-linkedin"></a>
                    </div>
                </div>
                <div class="box" data-aos="zoom-in-down">
                    <img src="assets/portrait-female-working-nurse.jpg" alt="">
                    <h3>jhone doe</h3>
                    <span>expert doctor</span>
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="" class="fab fa-twitter"></a>
                        <a href="" class="fab fa-instagram"></a>
                        <a href="" class="fab fa-linkedin"></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- doctors section ends -->
           <!-- review section starts -->
    <section class="review" id="review">
        <h1 class="heading" data-aos="zoom-out-left">client's <span>review</span></h1>
        <div class="box-container">
            <div class="box" data-aos="fade-down-left">
                <img src="assets/portrait-female-working-nurse.jpg" alt="">
                <h3>jhon doe</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p class="text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            </div>
            <div class="box" data-aos="fade-down-left">
                <img src="assets/portrait-female-working-nurse.jpg" alt="">
                <h3>jhon doe</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p class="text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            </div>
            <div class="box" data-aos="fade-down-left">
                <img src="assets/portrait-female-working-nurse.jpg" alt="">
                <h3>jhon doe</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p class="text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            </div>
        </div>
    </section>
    <!--review section end-->
    