    <!--service section start-->
    <section class="services" id="services">
        <h1 class="heading" data-aos="fade-right">our <span>services</span></h1>
        <div class="box-container">
            <div class="box" data-aos="fade-down-right">
                <i class="fas fa-notes-medical"></i>
                <h3>free checkups</h3>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                <a href="" class="btn">learn more <span class="fas fa-chevron-right"></span></a>
            </div>
            <div class="box" data-aos="fade-down-right">
                <i class="fas fa-ambulance"></i>
                <h3>24/7 ambulance</h3>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                <a href="" class="btn">learn more <span class="fas fa-chevron-right"></span></a>
            </div>
            <div class="box" data-aos="fade-down-right">
                <i class="fas fa-user-md"></i>
                <h3>expert doctors</h3>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                <a href="" class="btn">learn more <span class="fas fa-chevron-right"></span></a>
            </div>
            <div class="box" data-aos="fade-down-right">
                <i class="fas fa-pills"></i>
                <h3>medicines</h3>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                <a href="" class="btn">learn more <span class="fas fa-chevron-right"></span></a>
            </div>
            <div class="box" data-aos="fade-down-right">
                <i class="fas fa-notes-medical"></i>
                <h3>free checkups</h3>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                <a href="" class="btn">learn more <span class="fas fa-chevron-right"></span></a>
            </div>
            <div class="box" data-aos="fade-down-right">
                <i class="fas fa-procedures"></i>
                <h3>bed faculties</h3>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                <a href="" class="btn">learn more <span class="fas fa-chevron-right"></span></a>
            </div>
            <div class="box" data-aos="fade-down-right">
                <i class="fas fa-heartbeat"></i>
                <h3>total care</h3>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                <a href="" class="btn">learn more <span class="fas fa-chevron-right"></span></a>
            </div>
        </div>
    </section>
    <!--service section ends-->